<h1><%= t("pages.title.new comment") %></h1>

<% if @comment.comment %>
  <%= render 'comment', comment: @comment.comment %>
<% end %>

<%= form_with scope: :comment, url: create_post_comment_path(id: params[:comment_id], post_id: params[:post_id] || @comment.comment.post_id) , local: true do |form| %>
  <%= render "layouts/errors", locals: @comment %>
  <p>
  <%= form.label :content, t("activerecord.attributes.comment.content") %><br>
  <%= form.text_area(:content, {:class => "form-control"}) %>
  </p>

  <p>
  <%= form.submit(t("buttons.actions.submit comment"), {:class => "btn btn-primary"}) %>
  </p>

<% end %>

<%= link_to t('buttons.actions.back'), post_path(id: params[:post_id] || @comment.comment.post_id) %>

