<h1>New comment</h1>
<%= form_with scope: :comment, url: blog_comments_path , local: true do |form| %>
  <% if @comment.errors.any? %>
    <% @comment.errors.full_messages.each do |message| %>
      <li class="alert alert-danger"><%= message %></li>
    <% end %>
  <% end %>

  <p>
  <%= form.label :content %><br>
  <%= form.text_area(:content, {:class => "form-control"}) %>
  </p>

  <p>
  <%= form.submit("Submit your comment", {:class => "btn btn-primary"}) %>
  </p>

<% end %>

<%= link_to 'Back', "javascript:history.back()" %>

