<h1><%= translate_text("New comment") %></h1>

<% if @comment.comment %>
  <%= render 'comment', comment: @comment.comment %>
<% end %>

<%= form_with scope: :comment, url: create_post_comment_path(id: params[:comment_id], post_id: params[:post_id] || @comment.comment.post_id) , local: true do |form| %>
  <%= render "layouts/errors", locals: @comment %>
  <p>
  <%= form.label :content, translate_text("Content") %><br>
  <%= form.text_area(:content, {:class => "form-control"}) %>
  </p>

  <p>
  <%= form.submit(translate_text("Submit your comment"), {:class => "btn btn-primary"}) %>
  </p>

<% end %>

<%= link_to translate_text('Back'), post_path(id: params[:post_id] || @comment.comment.post_id) %>

