= form_for @user, url: update_password_path do |form|
  = render "layouts/errors", locals: @user
  %p
    = form.label :password, t("activerecord.attributes.user.password")
    %br
    = form.password_field :password, class: "form-control"

  %p
    = form.label :password_confirmation, t("activerecord.attributes.user.password_confirmation")
    %br
    = form.password_field :password_confirmation, class: "form-control"

  %p
    = form.label :current_password, t("activerecord.attributes.user.current_password")
    %br
    = form.password_field :current_password, class: "form-control"

  %p
    = form.submit value: t("buttons.actions.update_password"), class: "btn btn-primary"

= link_to t('buttons.actions.back'), user_path(@user), class: "btn btn-secondary"
