= form_for @user, url: update_password_path do |form|
  = render "layouts/errors", locals: @user
  %p
    = form.label :password, translate_text("forms.labels.password")
    %br
    = form.password_field :password, class: "form-control"

  %p
    = form.label :password_confirmation, translate_text("forms.labels.password_confirmation")
    %br
    = form.password_field :password_confirmation, class: "form-control"

  %p
    = form.label :current_password, translate_text("forms.labels.current_password")
    %br
    = form.password_field :current_password, class: "form-control"

  %p
    = form.submit value: translate_text("buttons.actions.update_password"), class: "btn btn-primary"

= link_to translate_text('buttons.actions.back'), user_path(@user), class: "btn btn-secondary"
