= form_for @user, url: update_password_user_path(@user) do |form|
  = render "layouts/errors", locals: @user
  %p
    = form.label :password, translate_text("Password")
    %br
    = form.password_field :password, class: "form-control"

  %p
    = form.label :password_confirmation, translate_text("Password confirmation")
    %br
    = form.password_field :password_confirmation, class: "form-control"

  %p
    = form.label :current_password, translate_text("Current password")
    %br
    = form.password_field :current_password, class: "form-control"

  %p
    = form.submit value: translate_text("Update password"), class: "btn btn-primary"

= link_to translate_text('Back'), user_path(@user), class: "btn btn-secondary"
