%div{:class=>"show-user"}
  %div{:class=>"card"}
    = user_avatar(@user)
    %div{:class=>"card-body"}
      %p{:class=>"card-text"}= @user.name
      %p{:class=>"card-text"}= @user.email
      %p{:class=>"card-text"}= @user.level
    %div{:class=>"card-body"}
      = link_to translate_text("Edit"), edit_user_path(@user), class: "btn btn-primary"
      = link_to translate_text("Edit password"), edit_password_user_path(@user), class: "btn btn-primary"
      - if current_user.admin? && current_user != @user
        = link_to translate_text('Delete'), user_path, method: :delete, class: "btn btn-danger"
      = link_to translate_text('Back'), users_path, class: "btn btn-secondary"
    %div{:class=>"card-footer"}
      %p{:class=>"card-text"}= translate_text("Registration time") + ":"
      %p{:class=>"card-text"}= creation_time_of @user
