<h1><%= t "pages.title.edit post" %></h1>
<%= form_for @post do |form| %>
  <%= render "layouts/errors", locals: @post %>
  <p>
  <%= form.label :title, t("activerecord.attributes.post.title") %><br>
  <%= form.text_field(:title, {:class => "form-control"}) %>
  </p>

  <p>
  <%= form.label :content, t("activerecord.attributes.post.content") %><br>
  <%= form.text_area(:content, {:class => "form-control", rows: "15"}) %>
  </p>
  <%= render "/categories/select.html.erb", locals: { post: @post } %>

  <p>
  <%= form.submit(t("buttons.actions.submit changes"), {:class => "btn btn-primary"}) %>
  </p>

<% end %>

<%= link_to t('buttons.actions.back'), post_path(@post), class: "btn btn-secondary" %>

