<h3 class="notice alert-success"><%= t notice if notice %></h3>
<h3 class="notice alert-danger"><%= t flash[:danger] if flash[:danger] %></h3>
<h1><%= t "pages.title.posts" %></h1>
<% if !current_user %>
  <h3><span class="badge badge-pill badge-danger"><%= t "To write a post, you have to" %><%= link_to t('login'), login_path, class: "login-link btn btn-warning" %></span></h3>
<% elsif !user_has_right_to_write %>
  <h3><span class="badge badge-pill badge-danger"><%= t "To write a post, you have to" %> <%= t "you have to be a user with VIP privileges" %></span></h3>
<% else %>
  <%= link_to t("buttons.actions.write post"), new_post_path, class: "btn btn-primary" %>
<% end %>
<div class="blogs">
  <% @posts.each do |post| %>
    <div class="card text-white border-dark bg-info mb-3">
      <div class="card-header">
        <h5 class="card-title"><%= t "activerecord.attributes.post.title" %>: <%= post.title %></h5>
        <h6 class="card-subtitle"><%= t "activerecord.attributes.post.written by" %> <%= post.user&.name || "Deleted user" %></h6>
      </div>
      <div class="card-body">
        <p class="card-text"><%= t "activerecord.attributes.post.content" %>: <%= truncated_content(post) %></p>
        <p class="card-text"><%= t "activerecord.attributes.post.categories.name" %>:
          <% post.categories.each do |category| %>
            <span class="badge badge-pill badge-light"><%= t category.name %></span>
          <% end %>
        </p>
      </div>
      <div class="card-footer"><%= creation_time_of post %><%= link_to t("buttons.actions.read article"), post_path(post), class: "btn btn-success" %></div>
    </div>
  <% end %>
</div>
