<h1><%= t "pages.title.new post" %></h1>
<%= form_with scope: :post, url: posts_path , local: true do |form| %>
  <%= render "layouts/errors", locals: @post %>

  <p>
  <%= form.label :title, t("activerecord.attributes.post.title") %><br>
  <%= form.text_field(:title, {:class => "form-control"}) %>
  </p>

  <p>
  <%= form.label :content, t("activerecord.attributes.post.content") %><br>
  <%= form.text_area(:content, {:class => "form-control", rows: "15"}) %>
  </p>
  <p><%= t("activerecord.attributes.post.categories.name") %>:</p>
  <%= render "/categories/select.html.erb", locals: { post: @post } %>
  <hr>
  <p>
  <%= form.submit(t("buttons.actions.submit post"), {:class => "btn btn-primary"}) %>
  </p>

<% end %>

<%= link_to t('buttons.actions.back'), "javascript:history.back()", class: "btn btn-secondary" %>

