= form_for @category do |f|
  = render "layouts/errors", locals: @category
  .field
    = f.label :name, translate_text("Name")
    = f.text_field :name, value: @category.name, class: "form-control"
  .actions
    = f.submit translate_text('Save'), class: "btn btn-primary"
