%h3{:class=>"notice alert-danger"}= t flash[:danger] if flash[:danger]
%h1= t "pages.title.categories"

%table{:class=>"table table-striped table-bordered"}
  %thead
    %tr
      %th= t("activerecord.attributes.category.name")
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= t category.name
        %td= link_to t('buttons.actions.show'), category, class: "btn btn-primary"
        %td= link_to t('buttons.actions.edit'), edit_category_path(category), class: "btn btn-primary"
        %td= link_to t('buttons.actions.delete'), category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br
= link_to t('buttons.actions.new category'), new_category_path, class: "btn btn-primary"
