%h3{:class=>"notice alert-danger"}= translate_text flash[:danger] if flash[:danger]
%h1= translate_text "Categories"

%table{:class=>"table table-striped table-bordered"}
  %thead
    %tr
      %th= translate_text("Name")
      %th
      %th
      %th

  %tbody
    - @categories.each do |category|
      %tr
        %td= translate_text category.name
        %td= link_to translate_text('Show'), category, class: "btn btn-primary"
        %td= link_to translate_text('Edit'), edit_category_path(category), class: "btn btn-primary"
        %td= link_to translate_text('Delete'), category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"

%br
= link_to translate_text('New category'), new_category_path, class: "btn btn-primary"
