%p#notice= notice

%div{:class=>"card text-white bg-dark mb-3 comment"}
  %div{:class=>"card-header"}
    %p{:class=>"card-title"}= t("activerecord.attributes.category.name") + ":"
  %div{:class=>"card-body"}
    %p{:class=>"card-text"}= t @category.name

= link_to t('buttons.actions.edit'), edit_category_path(@category), class: "btn btn-primary"
= link_to t('buttons.actions.back'), categories_path, class: "btn btn-secondary"
