%p#notice= notice

%div{:class=>"card text-white bg-dark mb-3 comment"}
  %div{:class=>"card-header"}
    %p{:class=>"card-title"}= translate_text("Name") + ":"
  %div{:class=>"card-body"}
    %p{:class=>"card-text"}= translate_text @category.name

= link_to translate_text('Edit'), edit_category_path(@category), class: "btn btn-primary"
= link_to translate_text('Back'), categories_path, class: "btn btn-secondary"
