<div class="sidebar">
  <h4><span class="badge badge-primary"> <%= t "pages.title.categories" %>: </span></h4>
  <%= render "/categories/categories.html.erb" %>
  <% if current_user %>
    <%= link_to t("buttons.actions.my_posts"), posts_path(search: { user: current_user && current_user.name, category: params[:search] && params[:search][:category] }), class: "btn btn-success" %>
  <% end %>
  <hr>
  <h3><%= t("pages.title.advanced_search") %></h3>
  <form accept-charset="UTF-8" action="/posts" method="get">
    <input name="utf8" type="hidden" value="&#x2713;" />
    <label for="search[title]"><%=t "activerecord.attributes.post.title" %></label>
    <input class="form-control" id="search[title]" name="search[title]" type="text" value="<%= params[:search][:title] if params[:search] %>">
    <label for="search[content]"><%= t "activerecord.attributes.post.content" %></label>
    <input class="form-control" id="search[content]" name="search[content]" type="text" value="<%= params[:search][:content] if params[:search] %>">
    <label for="search[category]"><%= t "activerecord.attributes.post.category" %></label>
    <input class="form-control" id="search[category]" name="search[category]" type="text" value="<%= params[:search][:category] if params[:search] %>">
    <label for="search[user]"><%= t "activerecord.attributes.post.writer" %></label>
    <input class="form-control" id="search[user]" name="search[user]" type="text" value="<%= params[:search][:user] if params[:search] %>">
    <input class="btn btn-success" type="submit" value="<%= t "buttons.actions.search" %>">
  </form>
</div>

